:root {
  --color-primary: #757575;
  --main-title-color: #212121;
  --color-brand: #2196f3;
  --main-white-color: #ffffff;
  --background-accent: #2f303a;
  --section-color: #f5f4fa;
  --logo-dark-color: #000000;
  --button-h-f-color: #188ce8;
}
body {
  color: var(--color-primary);
  background-color: var(--main-white-color);
  /* font-size: 16px; */
}

.logo {
  color: var(--color-brand);
}

.logo-dark {
  color: var(--logo-dark-color);
}
/* site naw */

.site-naw .naw-link {
  color: var(--main-title-color);
}

.site-naw .naw-link:hover,
.site-naw .naw-link:focus {
  color: var(--color-brand);
}
.site-naw .link-current {
  color: var(--color-brand);
}

.contacts .cnt-link {
  color: var(--color-primary);
}
.contacts .cnt-link:hover,
.contacts .cnt-link:focus {
  color: var(--color-brand);
}

/* hero */
.hero {
  color: var(--main-white-color);
  background-color: var(--background-accent);
}
.button {
  color: var(--main-white-color);
  background-color: var(--color-brand);
}
.button :hover,
.button :focus {
  background-color: var(--button-h-f-color);
}
/* sections */
.section-title {
  color: var(--main-title-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* benefits section*/
.benefits-title {
  color: var(--main-title-color);
}

/* team section*/
.team-list {
  color: var(--main-title-color);
}

.section-team {
  background-color: var(--section-color);
}

.team-folder {
  background-color: var(--main-white-color);
}

/* footer */
.footer {
  background-color: var(--background-accent);
}
.logo-light {
  color: var(--main-white-color);
}
.adress .link {
  color: var(--main-white-color);
  /* font-style: inherit; */
}
.adress .link:hover,
.adress .link:focus {
  color: var(--color-brand);
}

/* portfolio */
.portfolio-button {
  color: var(--main-title-color);
  background-color: var(--section-color);
}
.button-current {
  color: var(--main-white-color);
  background-color: var(--color-brand);
}
