:root {
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-brand: #2196f3;
  --white-color: #ffffff;
  --background-accent: #2f303a;
  --section-color: #f5f4fa;
}
body {
  color: var(--color-primary);
  background-color: var(--white-color);
  font-size: 16px;
}
.list {
  list-style: none;
}

.logo {
  color: var(--color-brand);
}
.logo-dark {
  color: #000000;
}
/* site naw */

.site-naw .link {
  color: var(--color-secondary);
}

.site-naw .link:hover,
.site-naw .link:focus {
  color: var(--color-brand);
}

.contacts-link {
  color: inherit;
}
.contacts-link :hover,
.contacts-link :focus {
  color: var(--color-brand);
}
.link {
  text-decoration: none;
}
.link:current {
  color: var(--color-brand);
}

/* hero */
.hero {
  color: var(--white-color);
  background-color: var(--background-accent);
}
.button {
  color: var(--white-color);
  background-color: var(--color-brand);
}
.button :hover,
.button :hover {
  background-color: #188ce8;
}
/* sections */
.section-title {
  color: var(--color-secondary);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* benefits section*/
.benefits-title {
  color: var(--color-secondary);
}

/* team section*/
.team-list {
  color: var(--color-secondary);
}
.section-team {
  background-color: var(--section-color);
}
/* footer */
.footer {
  background-color: var(--background-accent);
}
.logo-light {
  color: var(--white-color);
}
.adress .link {
  color: var(--white-color);
  /* font-style: inherit; */
}
.adress .link:hover,
.adress .link:focus {
  color: var(--color-brand);
}
